
  .container{
    background-image: url('/assets/imgs/pencil5a.png');
    width: 100%;
     height: 100vh;
    background-size: cover;
    // justify-content: center;
    // align-items: center;
    color: white;
    // background-repeat: repeat-y;
      padding-top: 20px;
      margin-top: 50px;
  }
  .icon{
    padding: 10px;
    background-color:rgb(128, 55, 128);
    text-align: center;
  }

li{
  display: inline;
  font-size: 15px;
  margin-left: 10px;
  padding: 10px;
  overflow: hidden;
  color: yellow;
}
li:hover{
  
  font-size: 25px;
  cursor: pointer;
  
}
  
  
    .header{
      font-size: 10px;
    }
    .example-fill-remaining-space {
      flex: 1 1 auto;
    }
    .example-icon {
      padding: 0 14px;
      float:right;
    } 
  
    .mat-toolbar{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      color: #ffffff;
      background-color: #280C60;
    }
  
    .mat-toolbar span{
      font-size: 30px;
    }

