
<div class="container">
    <mat-grid-list cols="12"  [gutterSize]="'0px'">
        <mat-grid-tile colspan="4">
            <img src="assets/imgs/child2.png" alt="">
        </mat-grid-tile>

        <mat-grid-tile colspan="4">
            <div style="display: block; text-align: center;">
                <h1>Welcome to EduChild</h1> 
          
                <p> <a mat-flat-button color="primary" class="button">Get Started</a></p>
            </div>
               
       
            
        </mat-grid-tile>
        <mat-grid-tile colspan="4"></mat-grid-tile>
      </mat-grid-list>
    

 

</div>