
<div class="container">
    <mat-grid-list [cols]="9"  [gutterSize]="'0px'" >
        <mat-grid-tile colspan="3">
            <img @bounce src="assets/imgs/child2.png" alt="">
        </mat-grid-tile>

        <mat-grid-tile colspan="3">
            <div style="display: block; text-align: center;">
                <h1 @fade>Welcome to EduChild</h1>
                <p @fade> <a mat-flat-button color="primary" class="button">Get Started</a></p>
            </div>
               
       
            
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <p @fade class="p-right">An interactive and colorful learning platform for kids.</p>
        </mat-grid-tile>
      </mat-grid-list> 
    

    

</div>